.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-footer{
  margin-bottom: 5vh;
}

.money-label{
  text-align: center;
  margin: 5vh auto 1vh auto;
}

.confirm-btn{
  height: 100%;
  padding-bottom: 6px;
  font-size: 1em;
}